@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,400;1,700&display=swap');
body{
   color: #F2F2F2 ;
    font-size: 25px;
    font-family:'Poopins', sans-serif;
}

h1,h2,h3,h4,h5{
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #D98C4A;
}
a{
    font-weight: 700;
    transition: all 0.4s ease;
}

img{
    width: 100%;

}
small{
    font-size: 12px; 
    letter-spacing: 2px;
    font-weight: 700;
    color: #BF213E;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}
/***************BARRA NAVEGACION*************/
.navbar {
    border-bottom: 1px solid rgba(217, 141, 74, 0.1) ;
}

.navbar .nav-link{
    font-size: 18px;
    letter-spacing: 1px;
}
.navbar .nav-link .active{
    color: #BF213E ;
}

/****************HERO SECTION(HOME)*******************/
#home {
    background: linear-gradient(rgba(217, 141, 74, 0.6), rgba(217, 141, 74, 0.6)), url(../img/cupcakes-hero.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
 }
 
 #home h1 {
    font-weight: 700;
 }
 
 #home p {
    max-width: 550px;
    margin: 18px auto;
 }
 
 .btn {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 28px;
    border-radius: 0;
 }
 
 .btn-brand {
    background-color: #BF213E;
    color: #fff;
 }
 
 .btn-brand:hover {
    background-color: #BF213E;
    color: #fff;
 }
 
/************SERVICES***************/
.section-intro {
    text-align: center;
    margin-bottom: 60px;
 }
 
 .section-intro .hline {
    width: 120px;
    height: 2px;
    background-color: #bf213eb2;
    margin: 16px auto 0 auto;
 }
 
 .icon-box {
    width: 60px;
    height: 60px;
    background-color: #73482F;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    flex: none;
 }

 .row h4 {
   color: #73482F ;
    
 }

 .row p{
     font-size: 18px;
     color: #73482F;
 }

/***********PRODUCTOS SECTION CAROUSEL*************/
#productos h5 {
   color: #BF213E ;
   font-size: 50px;
   
}
/********************TEAM CARD SECTION**********************/

.team-member {
   background-color: #BF213E;
}

.team-member.even {
   background-color: #BF213E;
}

.team-member .hline {
   width: 70px;
   height: 2px;
   margin: 16px auto;
   background-color: rgba(255, 255, 255, 0.445);
}

.team-member .team-member-img img,
.team-member .team-member-img .social-icons {
   transition: all 0.4s ease;
}

.team-member .team-member-img {
   position: relative;
   overflow: hidden;
}

.team-member .team-member-img .social-icons {
   width: 100%;
   height: 60px;
   background-color: #73482F;
   position: absolute;
   bottom: -60px;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;

}

.team-member .team-member-img .social-icons a {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid rgba(255, 255, 255, 0.5);
   font-size: 24px;
   color: #fff;
   border-radius: 100px;
   margin-left: 4px;
   margin-right: 4px;
}

.team-member .team-member-img .social-icons a:hover {
   background-color: #fff;
   color:#73482F ;
}

.team-member:hover .team-member-img .social-icons {
   bottom: 0;
}

.team-member:hover img {
   transform: translateY(-60px);
}


/****************CONTACT SECTION******************/
form .form-control {
    border-radius: 0;
 }
 
 form .form-control:focus {
    box-shadow: none;
    border-color: #BF213E;
 }
 
 #cta {
    background-color: #bf213ed8;
 }
 
 /********FOOTER***********/

 footer {
    background-color: #F2F2F2 ;
 }

 footer a {
    color: #73482F;
    text-decoration: none;
    font-size: 16px;
 }
 footer h5{
    color: #73482F;
 }